@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nexa';
  src: local('Nexa Bold'), local('Nexa-Bold'), url('https://fonts.cdnfonts.com/s/12165/NexaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Kit', 'Inter', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nexa', sans-serif;
}

/* Hide scrollbar globally but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

html, body, .modal-box {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
